extends ../layout
block content
    h2.my-4 사장님 로그인 (ADMIN 로그인)
    form#addStoreForm(method='post' action='/stores/login.do')
        div.form-floating.mb-3
            input#store_id.form-control(name='store_id', type='text', value="store001", placeholder="??")
            label(for='store_id') 아이디
        div.form-floating.mb-3
            input#pw.form-control(name='pw', type='password', value="pw123456", placeholder="??")
            label(for='pw') 비밀번호
        div.form-check
            input#weeklogin.form-check-input(type="checkbox", name="autoLogin", value="1")
            label.form-check-label(for="weeklogin") 일주간 로그인 유지(자동로그인)
        div.text-end.mb-5
            button#resetStoreBtn.btn.btn-outline-warning.me-3(type='reset') 초기화
            a.btn.btn-outline-secondary.me-3(href='/users/insert.do') 회원가입
            button#addStoreBtn.btn.btn-outline-primary(type='submit') 로그인
