nav.navbar.navbar-expand-lg
    div.container-fluid
        a.navbar-brand(href="/")
            img(src="/images/logo/logo.png", alt="LOGO", width="150px")
        div#navbarNav.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    if(!loginStore)
                        a.nav-link.active(href="/users/insert.do")
                            button.btn.btn-outline-secondary(type="button")
                                img(src="/images/logo/signup.png", alt="signup-icon", width="20px")
                                span.ms-1 회원가입
                    else
                        a.nav-link.active(href="/users/detail.do")
                            button.btn.btn-outline-secondary(type="button")
                                img(src="/images/logo/mypage.png", alt="mypage-icon", width="20px")
                                span.ms-1 내정보
                li.nav-item
                    div#loginContainer.d-flex.align-items-center
                        if(!loginStore)
                            a.nav-link.active(href="/stores/login.do")
                                button.btn.btn-outline-secondary(type="button")
                                    span 로그인
                        else
                            a.nav-link.active(href="/stores/logout.do")
                                button.btn.btn-outline-secondary(type="button")
                                    span 로그아웃
                            button.btn.btn-outline-secondary.ms-2.disabled(type="button")
                                b.text-secondary.me-2.text-decoration-none(href=`/users/${loginStore.store_id}/detail.do`)=`${loginStore.store_id}`
                                span 님 환영합니다
        div.form-check.form-switch.d-flex.align-items-center.px-2.py-1.border.border-teritory.rounded
            label.form-check-label.me-5(for="flexSwitchCheckDefault") OFF
            input.form-check-input(type="checkbox", role="switch", id="flexSwitchCheckDefault", style="width: 2.5rem; height: 1.5rem;")
            label.form-check-label.ms-2(for="flexSwitchCheckDefault") ON
hr.m-0
nav.navbar.navbar-expand-lg
    div(style="margin-left:10.4rem;").container-fluid
        ul.d-flex.list-unstyled
            if(!storeName)
                li
                    a.btn.btn-outline-secondary.btn-sm.m-2(href=`/infos/insert.do`) 리뷰 관리
                li
                    a.btn.btn-outline-secondary.btn-sm.m-2(href=`/infos/insert.do`) 가게 정보 관리
                li
                    a.btn.btn-outline-secondary.btn-sm.m-2(href=`/infos/insert.do`) 가게 메뉴 관리
                li
                    a.btn.btn-outline-secondary.btn-sm.m-2(href=`/infos/insert.do`) 웨이팅 관리
                li
                    a.btn.btn-outline-secondary.btn-sm.m-2(href=`/infos/insert.do`) 챱딜 관리
            else
                li
                    a.btn.btn-outline-secondary.btn-sm.m-2(href=`/reviews/list.do`) 리뷰 관리
                li
                    a.btn.btn-outline-secondary.btn-sm.m-2(href=`/infos/detail.do`) 가게 정보 관리
                li
                    a.btn.btn-outline-secondary.btn-sm.m-2(href=`/menu/list.do`) 가게 메뉴 관리
                li
                    a.btn.btn-outline-secondary.btn-sm.m-2(href=`/waitings/waiting.do`) 웨이팅 관리
                li
                    a.btn.btn-outline-secondary.btn-sm.m-2(href=`/chapdeal/list.do`) 챱딜 관리