extends layout

block content
    div.mt-3
        ul.d-flex.list-unstyled
            li
                a.btn.btn-outline-secondary.btn-sm.m-2(href=`/reviews/list.do`) 리뷰 관리
            li
                a.btn.btn-outline-secondary.btn-sm.m-2(href=`/`) 가게 정보 관리
            li
                a.btn.btn-outline-secondary.btn-sm.m-2(href=`/menu/manage.do`) 가게 메뉴 관리
            li
                a.btn.btn-outline-secondary.btn-sm.m-2(href=`/`) 웨이팅 관리
    div(style="background-color: lightgray; width: 80vw; height: 800px; display: flex; flex-direction: column; align-items: flex-end; justify-content: center;")
        div.mt-3
            h1 챱챱파인더
            div
                p 챱챱파인더로
                p 신규고객을 확보해보세요
            div.mt-3
                ul.d-flex.list-unstyled
                    li
                        a.btn.btn-outline-secondary.btn-sm.m-2(href=`/`) 가게 등록
                    li
                        a.btn.btn-outline-secondary.btn-sm.m-2(href=`/`) 회원 가입

