extends layout

block content
    div 페이지 링크 모음
        - const storeId = req.session.storeId;
        ul
            li
                a.btn.btn-outline-primary.btn-sm(href=`/admin/${storeId}/list.do`) 리뷰 리스트
            li
                a.btn.btn-outline-primary.btn-sm(href=`/stores/login.do`) 로그인 페이지
            li
                a.btn.btn-outline-primary.btn-sm(href=`/`) 상세
            li
                a.btn.btn-outline-primary.btn-sm(href=`/`) 상세
            li
                a.btn.btn-outline-primary.btn-sm(href=`/`) 상세

