extends ../layout
block content
    form.px-5.py-3.border.border-1.rounded-1.border-secondary(style='height:25vh; width:100vh; margin-top:15%; margin-left:15%')
        //div.flex-column.border.border-1.rounded-1.border-secondary.mx-auto.p-3(style='height:30vh; margin-top:10%; width:70%')
            //input.form-control.border.border-1.rounded-1.mx-auto.p-3(type="email", id="store_id" style="display: flex; flex-wrap: nowrap; flex-direction: column; align-items: center; margin-top:7%; width:80%")
        div.form-floating
            input#u_id.form-control(name='u_id', type='text', value="admin", placeholder="??", style="width:90%; margin-left:5%; margin-top:3%")
            label(for='u_id', style="margin-left:5%") 아이디
        div.form-floating.mb-3
            input#pw.form-control(name='pw', type='password', value="admin123", placeholder="??", style="width:90%; margin-left:5%; margin-top:auto")
            label(for='pw' style="margin-left:5%") 비밀번호
        div.form-check(style="width:50%; margin-left:20%")
            label.form-check-label(style="width:50%; margin-left:auto") 일주간 로그인 유지(자동로그인)
            input.form-check-input(type="checkbox", name="autoLogin", value="1")

            //input.form-control.border.border-1.rounded-1.mx-auto.p-3(type="password", placeholder="비밀번호" style="display: flex; flex-wrap: nowrap; flex-direction: column; align-items: center; margin:auto; width:80%")
            //div.w-75.border.border-1.rounded-1.border-secondary.mx-auto.p-3(style="display: flex; flex-wrap: nowrap; flex-direction: column; align-items: center;")
            //div.form-check(style="margin-left:10%; padding-top:auto")
            //    input.form-check-input(type="checkbox", id="dropdownCheck")
            //    label.form-check-label(for="dropdownCheck") 로그인 상태 유지
    button.btn.btn-primary(type="submit") Sign in